@using BlazorApp.Models;
@using BlazorApp.Services;
@inject PizzaService PizzaSvc
@page "/exampleForm"
@rendermode InteractiveServer

<div class="main">
  <h1>Pizzas crud</h1>
  @if (pizzasAvailables.Count() == 0)
  {    
      <Loading/>
  }
  else
  {
    <table>
      @foreach (var pizza in pizzasAvailables)
      {
        <tr>
          <td>
            @pizza.Id
          </td>
          <td>
            @pizza.Name
          </td>
          <td>
            @pizza.Description
          </td>
          <td>
            <input type="button" value="Edit" @onclick="@(e => Edit(pizza))"/>
          </td>
        </tr>
      }
    </table>
  }
  <h2>Edit form:</h2>
  <EditForm Model=@currentPizza  OnSubmit="ValidateData">
    <InputNumber @bind-Value=currentPizza.Id></InputNumber>
    <InputText @bind-Value=currentPizza.Name></InputText>
    <InputText @bind-Value=currentPizza.Description></InputText>
    <input type="submit" class="btn btn-primary" value="Save"/>
</EditForm>
<h1>Errors: @Message</h1>
</div>

@code {
  IEnumerable<Pizza> pizzasAvailables = new List<Pizza>();
  Pizza currentPizza = new Pizza();
  private string Message = String.Empty;
  protected override async Task OnInitializedAsync()
  {
    loadInfo();
  }
  public async Task loadInfo()
  {
    pizzasAvailables = await PizzaSvc.GetPizzas();
    StateHasChanged();
  }

  private void Edit(Pizza p){
    currentPizza = p;
  }

  private async Task ValidateData(EditContext editContext)
  {
    Message = "";
    if (editContext.Model is not Pizza p)
        {
            Message = "pizza object is invalid";
            return;
        }

        if (p.Name.Length>5)
        {
            Message = "Loguitud demasiado larga";
            return;
        }

        // Data is valid
        // Save the data
        Message = "Changes saved";
    }
}